body {
    background: #f6e7df;
    color: #5d5a57;
    font-family: Times new Roman;
    font-size: 1em;
}

.container {
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#quote-body {
    font-size: 3em;
    text-align: center;
}

#quote-author {
    font-size: 1.5em;
    width: 25%;
    border-top: 1px solid #ded7d0;
    text-align: center;
    padding-top: 10px;
}

#quote-body::before,
#quote-body::after {
    content: "\"";
}

@media (max-width: 725px) {
    .container {
        width: 80%;
    }
}