body {
    background: #2e3f46;
    color: #efefef;
    font-family: Times new Roman;
    font-size: 1em;
}

.container {
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#quote-body {
	font-size: 3em;
	text-align: center;
}

#quote-author {
    font-size: 1.5em;
    width: 20%;
    border-top: 1px solid #e4e4e4;
    text-align: center;
    padding-top: 10px;
}

#quote-body::before, #quote-body::after {
	content: "\"";
}
